<div class="login-container">
    <div class="panel panel-default login-panel">
        <div class="panel-heading"><h1>Hawkeye Programming Challenge Login</h1></div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show="error">
                There was a problem logging in. Please try again.
            </div>
            <div class="brand">
                <img class="img img-icon" src="/images/uiowaLogo.png" alt="University of Iowa Logo">
            </div>

            <div class="form-container">
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                        <label for="username">Team Name:</label>
                        <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>