.navbar-inner {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}