.sideNavItem {
    list-style-type: none;
    background: #f3f3f3;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #e0e0e0;
    display: block;
    text-decoration: none;
    color: #434343;
}

.sideNavItem:hover {
    list-style-type: none;
    background: #eaeaea;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #e0e0e0;
    display: block;
    text-decoration: none;
    color: #4a4a4a;
}

.sideNavSubItem {
    list-style-type: none;
    background: #f3f3f3;
    padding: 4px;
    margin: 2px 5px 2px 30px;
    border: 1px solid #e0e0e0;
    display: block;
    text-decoration: none;
    color: #434343;
}

.sideNavHeader {
    margin-bottom: 30px;
    font-weight: bold;
}
.sideNavHeader:hover {
    margin-bottom: 30px;
    font-weight: bold;
}

.sideNavActive {
    border: 1px solid #c0c0c0;
    background: #e3e3e3;
}

.sideNavActive:hover {
    border: 1px solid #c0c0c0;
    background: #eaeaea;
}

.nav-background {
    background: #e5e5e5;
}